doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Procom - MMXVI
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        // Le styles
        link(href='assets/css/bootstrap.css', rel='stylesheet')
        link(href='assets/css/bootstrap-responsive.css', rel='stylesheet')
        link(href='assets/css/typography.css', rel='stylesheet')
        link(href='stylesheets/supersized.css', rel='stylesheet')
        link(href='stylesheets/supersized.shutter.css', rel='stylesheet')
        link(href='stylesheets/jquery.tweet.css', rel='stylesheet')
        link(href='stylesheets/flexslider.css', rel='stylesheet')
        // Isotope
        link(rel='stylesheet', href='stylesheets/prettyPhoto.css')
        link(rel='stylesheet', href='stylesheets/isotope.css')
        // Custom style
        link(href='stylesheets/icomoon.css', rel='stylesheet')
        link(href='stylesheets/responsive-nav.css', rel='stylesheet')
        link(href='stylesheets/style.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Dancing+Script', rel='stylesheet', type='text/css')

    body
        #fb-root
        script.
            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=887877234622664";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        header#mobile-header.hidden-desktop.clearfix
            #nav
                ul.clearfix
                    li
                        a.scroll-link(href='/#header', data-soffset='0') Home
                    li
                        a.scroll-link(href='/#about', data-soffset='0') About
                    li
                        a.scroll-link(href='/#registration', data-soffset='0') registration
                    li
                        a.scroll-link(href='/#sponsors', data-soffset='0') sponsors
                    li
                        a.scroll-link(href='/#ambassador', data-soffset='0') ambassador
                    li
                        a.scroll-link(href='/#contact', data-soffset='0') Contact
        .header-fixed-nav.hidden-phone.hidden-tablet
            .nav
                img(src='images/logo-xs.png', style='width: 40px;margin-top: 20px;')
                ul
                    li
                        a#header-linker.scroll-link.active(href='/#header', data-soffset='0') home
                    li
                        a#about-linker.scroll-link(href='/#about', data-soffset='0') about
                    li
                        a#registration-linker.scroll-link(href='/#registration', data-soffset='0') registration
                    li
                        a#sponsors-linker.scroll-link(href='/#sponsors', data-soffset='0') sponsors
                    li
                        a#sponsors-linker.scroll-link(href='/#ambassador', data-soffset='0') ambassador
                    li
                        a#contact-linker.scroll-link(href='/#contact', data-soffset='0') contact
            .nav2
                div
                    a.facebook-icon(href='#')
                div
                    a.twitter-icon(href='#')
                div(style='margin-top: 100px;')
                    p(style='font-size: 10px; color: #8B8B8B;') maintained by
                    a(style='    margin-top: 0px;', href='https://www.facebook.com/ebbiWanKanobi', target='_blank')
                        p(style="font-family: 'Dancing Script', cursive; color: #FFFFFF; /* font-style: italic; */ font-weight: bold; font-size: 18px;")
                            bold Ebad Hashmi
        .page
            .container
                .row(style='margin-top: 45px;')
                    .span7.offset2
                        h1.text-center #{head}
                hr
                .row.cont(style='margin-top: 20px;')
                    .span12
                        -for(var i=0;i<data.length;i++){
                        .span9.offset1
                            h3 institute :
                            p #{data[i].institute}
                            h3 name :
                            p #{data[i].name}
                            h3 email :
                            p #{data[i].email}
                            h3 phone :
                            p #{data[i].phone}
                            h3 why? :
                            p #{data[i].why}
                            br
                            hr
                            br
                        -}
        #footer
            section.container-fluid
                .row-fluid
                    section.container
                        .row
                            article.span4
                                .copyright
                                    p Copyright © 2016 procom.net
                            // // End of .span12
                            article.span8
                                .credits.text-right
                                    p(style='font-size: 10px; color: #8B8B8B;') maintained by
                                    a(style='    margin-top: 0px;', href='https://www.facebook.com/ebbiWanKanobi', target='_blank')
                                        p(style="font-family: 'Dancing Script', cursive; color: #FFFFFF;    margin-top: -31px; /* font-style: italic; */ font-weight: bold; font-size: 18px;")
                                            bold Ebad Hashmi
                            // // End of .span12
                        // // End of .row
                    // // End of .container
                // // End of .row-fluid
            // // End of .container-fluid
        // // End of #footer
        // Footer ends
        //
          JS
          ==================================================
        // jQuery Library File
        script(src='javascripts/jquery-1.7.2.min.js')
        script(src='javascripts/jquery.easing.1.3.js')
        // Bootstrap JS Files
        script(src='assets/js/bootstrap-transition.js')
        script(src='assets/js/bootstrap-alert.js')
        script(src='assets/js/bootstrap-modal.js')
        script(src='assets/js/bootstrap-dropdown.js')
        script(src='assets/js/bootstrap-scrollspy.js')
        script(src='assets/js/bootstrap-tab.js')
        script(src='assets/js/bootstrap-tooltip.js')
        script(src='assets/js/bootstrap-popover.js')
        script(src='assets/js/bootstrap-button.js')
        script(src='assets/js/bootstrap-collapse.js')
        script(src='javascripts/responsive-nav.js')
        script.
            var navigation = responsiveNav("#nav", { // Selector: The ID of the wrapper
            animate: true, // Boolean: Use CSS3 transitions, true or false
            transition: 400, // Integer: Speed of the transition, in milliseconds
            label: "Menu", // String: Label for the navigation toggle
            insert: "after", // String: Insert the toggle before or after the navigation
            customToggle: "", // Selector: Specify the ID of a custom toggle
            openPos: "relative", // String: Position of the opened nav, relative or static
            jsClass: "js", // String: 'JS enabled' class which is added to <html> el
            init: function(){}, // Function: Init callback
            open: function(){}, // Function: Open callback
            close: function(){} // Function: Close callback
            });
